{% extends 'base.html' %}

{% block content %}
<h5>{{ current_user }}'s Homepage</h5>

<div>
<h5><a href="{%url 'create_post' %}">Create New Post</a></h5>
</div>

<p>Following: <a href ="{% url 'user_following' user.username %}"> {{ follow }} </a></p>
<p>Followers: <a href ="{% url 'user_follower' user.username %}">{{ follower }} </a></p>

{% if latest_blog_list %}
    <ul>
        {% for blog in latest_blog_list %}
        <li><a href = "/blog/{{ blog.id }}/">{{ blog.content }}</a></li>
        {% endfor %}
    </ul>
{% else %}
<p>No blogs are available</p>
{% endif %}

<p> Top users : </p>
{% for user in users %}
<ul>
   <li><a href="{% url 'user_posts' user.username %}"> {{ user.username }} </a></li>
</ul>
{% endfor %}

{% endblock %}