{% extends 'base.html' %}

{% block content %}
<div>
<h5><a href="{%url 'create_post' %}">Create New Post</a></h5>
</div>
{% if latest_blog_list %}
    <ul>
        {% for blog in latest_blog_list %}
        <li><a href = "/blog/{{ blog.id }}/">{{ blog.content }}</a></li>
        {% endfor %}
    </ul>
{% else %}
<p>No blogs are available</p>
{% endif %}

<p> Top users : </p>
{% for user in users %}
<ul>
   <li><a href="{% url 'user_posts' user.username %}"> {{ user.username }} </a></li>
</ul>
{% endfor %}

{% endblock %}