{% extends 'base.html' %}

{% block content %}
<h5 style = "color:orange">{{user.username}}'s Profile </h5>

<form method= "post" > {% csrf_token %}
    {% if already_followed == False%}
      <button class="btn waves-effect waves-light" type="submit" name="action" value="follow">Follow
  </button>
    {% else %}
     <button class="btn waves-effect waves-light" type="submit" name="action" value="unfollow">Unfollow
  </button>
    {% endif %}
</form>

<p>All the Posts:</p>
{% if user_blog_lists %}
    <ul>
        {% for blog in user_blog_lists %}
        <li><a href="{% url 'user_post_detail' user.username blog.id %}">{{ blog.content }}</a></li>
        {% endfor %}
    </ul>
{% else %}
<p>No blogs are available</p>
{% endif %}

{% endblock %}