<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buddy Coders</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href= "{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
    <body>
    <nav>
    <div class="container nav-wrapper" >
        <a href="/" class="brand-logo">Buddy Coders</a>
        <ul id="nav-mobile" class="right">
            {% if user.is_authenticated %}
            <li>{{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'login'%}">Log In</a></li>
            {% endif %}
            <li><a href="{% url 'register'%}">Sign Up</a></li>
        </ul>
    </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>